<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Signup Form</title>
    <link rel="stylesheet" href="../CSS/style.css" />
  </head>
  <body>
    <section class="wrapper">
      <div class="form signup">
        <header>Signup</header>
        <form action="#" id="form">
          <input type="text" id="username" placeholder="Full name" required />
          <input type="email" id="email" placeholder="Email address" required />
          <input type="number" id="phoneNumber" placeholder="Phone number" required>
          <input type="password" id="password" placeholder="Password" required />
          
          <div class="content" id="someResponse" style="text-align: center;">

          </div>

          <input type="submit" id="submit" value="Signup" />  
        </form>
      </div>
    </section>
  </body>
  <script src="signup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
</html>
